<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head.html" . }}
  <style>
    body {
    font-family: 'Arvo', serif;
    }
  </style>

</head>
<body>
  {{ partial "header.html" . }}
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-xs-3">

      </div>
      <div class="col-xs-9">
        <ul class="all-posts">
        {{range .Site.RegularPages}}
        <li><a href="{{.Permalink}}">{{.Title}}</a></li>
        {{end}}
        </ul>

      </div>
    </div>
  </div>

  {{ partial "footer.html" . }}

</body>
</html>
